{% extends "base.html" %}

{% block title %}Log In{% endblock title %}

{% block main %}
<form action="{{ relative_url(path="") }}" method="post">
	{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ error }}
		</div>
	{% endif %}
	<div class="form-group">
		<label for="x500">X.500 (e.g. smith001)</label>
		<input class="form-control" id="x500" name="x500" placeholder="Enter X.500">
	</div>
	<input name="redirect" type="hidden" value="{{ redirect }}">
	<button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock main %}
